@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library</h1>
    <p>Learn about <a href="https://www.bksh.al/">Biblioteka Kombetare</a>.</p>
</div>
