@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Library</h1>
    <p>Learn about <a href="https://www.bksh.al/">Bibloteka Kombetare</a>.</p>
</div>
